/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* header  */

.conteiner-1 {
	width: 100%;
	background: beige;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: fixed;
}
.conteiner-1 img {
	margin-right: 350px;
}
.nav-ul {
	width: 550px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-size: 20px;
	color: #3D37F1;
	font-weight: bold;
}

.icons {
	width: 50px;
	font-size: 20px;
	margin-left: 45px;
	color: #3D37F1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

}
/* section 1 */

.conteiner-2 {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 150px;
	background: #FFFFFF;
}

.block-1 h1 {
	width: 450px;
	color: #534D4D;
	font-weight: bold;
	font-size: 60px;
}

.block-1 h4 {
	color: #534D4D;
	width: 400px;
	margin-top: 40px;
	margin-bottom: 85px;
	font-size: 20px;
}
.wave-icon {
	width: 200px;
	height: 70px;
	background: #3D37F1;
	border-radius: 33px;
	color: #FFFFFF;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.wave-icon img {
	-o-object-fit: cover;
	   object-fit: cover;
	width: 30px;
	height: 30px;
	margin-right: 15px;
}
.wave-icon p {
	width: 100px;
	font-size: 20px;
}
.block-2 img {
	width: 700px;
}

/* section 2 */
.conteiner-3 {
	width: 1440px;
	margin: 0 auto;
	background: #F8F8F8;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
}
.box1 {
	margin-top: 40px;
}
.box1 h3 {
	color: #3D37F1;
	font-size: 20px;
}
.box1 h2 {
	color: #5A5454;
	font-size: 30px;
	margin-top: 16px;
	margin-bottom: 22px;
}
.box2 {
	width: 1170px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 40px;
}
.box1 p {
	width: 600px;
	font-size: 18px;
	color: #747474;
}
.child-box {
	width: 370px;
	height: 451px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: purple;
}
.child-box img {
	width: 100px;
	margin-bottom: 25px;
}
.child-box p {
	margin-top: 20px;
	margin-bottom: 30px;
	color: #FFFFFF;
}
.child-box:nth-child(1), 
.child-box:nth-child(2),
.child-box:nth-child(3) {
	margin-bottom: 60px;
}
.child-box h3 {
	color: #FFFFFF;
}
.read-more {
	width: 130px;
	height: 45px;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 2px;
	border-radius: 23px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 15px;
}
.child-box:nth-child(1) {
	background-image: -o-linear-gradient(left, #FBBA77, #DFA871);
	background-image: -webkit-gradient(linear, left top, right top, from(#FBBA77), to(#DFA871));
	background-image: linear-gradient(90deg, #FBBA77, #DFA871);
}
.child-box:nth-child(2) {
	background-image: -o-linear-gradient(top, #41EAE3, #2293B7);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#41EAE3), to(#2293B7));
	background-image: linear-gradient(180deg, #41EAE3, #2293B7);
}
.child-box:nth-child(3) {
	background-image: -o-linear-gradient(right, #69529F, #463864);
	background-image: -webkit-gradient(linear, right top, left top, from(#69529F), to(#463864));
	background-image: linear-gradient(-90deg, #69529F, #463864);
}
.child-box:nth-child(4) {
	background-image: -o-linear-gradient(left, #4386D2, #0962C5);
	background-image: -webkit-gradient(linear, left top, right top, from(#4386D2), to(#0962C5));
	background-image: linear-gradient(90deg, #4386D2, #0962C5);
}
.child-box:nth-child(5) {
	background-image: -o-linear-gradient(top,#A5A2F6, #564FD6);
	background-image: -webkit-gradient(linear,left top, left bottom,from(#A5A2F6), to(#564FD6));
	background-image: linear-gradient(to bottom,#A5A2F6, #564FD6);
}
.child-box:nth-child(6) {
	background-image: -o-linear-gradient(left, #FF8088, #984141);
	background-image: -webkit-gradient(linear, left top, right top, from(#FF8088), to(#984141));
	background-image: linear-gradient(to right, #FF8088, #984141);
}


/*.child-box,.conteiner-3{-webkit-box-orient:vertical;-webkit-box-direction:normal}.conteiner-1{width:100%;background:beige;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:fixed}.conteiner-2,.nav-ul{display:-webkit-box;display:-ms-flexbox}.conteiner-1 img{margin-right:350px}.nav-ul{width:550px;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;font-size:20px;color:#3d37f1;font-weight:700}.conteiner-2{width:100%;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding-top:150px;background:#fff}.conteiner-3,.wave-icon{display:-webkit-box;display:-ms-flexbox}.block-1 h1{width:450px;color:#534d4d;font-weight:700;font-size:60px}.block-1 h4{color:#534d4d;width:400px;margin-top:40px;margin-bottom:85px;font-size:20px}.wave-icon{width:200px;height:70px;background:#3d37f1;border-radius:33px;color:#fff;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.wave-icon img{-o-object-fit:cover;object-fit:cover;width:30px;height:30px;margin-right:15px}.wave-icon p{width:100px;font-size:20px}.block-2 img{width:700px}.conteiner-3{width:1440px;margin:0 auto;background:#f8f8f8;display:flex;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;text-align:center}.box1,.box2{margin-top:40px}.box2,.child-box{display:-webkit-box;display:-ms-flexbox}.box1 h3{color:#3d37f1;font-size:20px}.box1 h2{color:#5a5454;font-size:30px;margin-top:16px;margin-bottom:22px}.box2{width:1170px;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.box1 p{width:600px;font-size:18px;color:#747474}.child-box{width:370px;height:451px;display:flex;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background:purple}.child-box img{width:100px;margin-bottom:25px}.child-box p{margin-top:20px;margin-bottom:30px;color:#fff}.child-box:first-child,.child-box:nth-child(2),.child-box:nth-child(3){margin-bottom:60px}.child-box h3{color:#fff}.read-more{width:130px;height:45px;border:2px solid #fff;border-radius:23px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-top:15px}.child-box:first-child{background-image:-webkit-gradient(linear,left top,right top,from(#fbba77),to(#dfa871));background-image:-o-linear-gradient(left,#fbba77,#dfa871);background-image:linear-gradient(90deg,#fbba77,#dfa871)}.child-box:nth-child(2){background-image:-webkit-gradient(linear,left top,left bottom,from(#41eae3),to(#2293b7));background-image:-o-linear-gradient(top,#41eae3,#2293b7);background-image:linear-gradient(180deg,#41eae3,#2293b7)}.child-box:nth-child(3){background-image:-webkit-gradient(linear,right top,left top,from(#69529f),to(#463864));background-image:-o-linear-gradient(right,#69529f,#463864);background-image:linear-gradient(-90deg,#69529f,#463864)}.child-box:nth-child(4){background-image:-webkit-gradient(linear,left top,right top,from(#4386d2),to(#0962c5));background-image:-o-linear-gradient(left,#4386d2,#0962c5);background-image:linear-gradient(90deg,#4386d2,#0962c5)}.child-box:nth-child(5){background-image:-webkit-gradient(linear,left top,left bottom,from(#a5a2f6),to(#564fd6));background-image:-o-linear-gradient(top,#a5a2f6,#564fd6);background-image:linear-gradient(to bottom,#a5a2f6,#564fd6)}.child-box:nth-child(6){background-image:-webkit-gradient(linear,left top,right top,from(#ff8088),to(#984141));background-image:-o-linear-gradient(left,#ff8088,#984141);background-image:linear-gradient(to right,#ff8088,#984141)}*/